package components

import (
"github.com/TTLuke/messenger/model"
"strconv"
)

templ Contact(contact model.Contact) {
<h2>Kontakt: { strconv.Itoa(contact.Id) }</h2>
<p>
	Meno: { contact.FirstName } , Priezvysko { contact.LastName }
</p>
}
